<h1>Search Results</h1>
<table>
    <tr>
        <th>Field</th>
        <th>Value</th>
    </tr>
    <tr>
        <td>InvoiceNo</td>
        <td>{{result.InvoiceNo}}</td>
    </tr>
    <tr>
        <td>Image</td>
        <td><img src="{{result.image}}" alt="Image not found"></td>
    </tr>
    <tr>
        <td>Manufacturer</td>
        <td>{{result.Manufacturer}}</td>
    </tr>
    <tr>
        <td>Class</td>
        <td>{{result.class}}</td>
    </tr>
    <tr>
        <td>Sales in thousands</td>
        <td>{{result.Sales_in_thousands}}</td>
    </tr>
    <tr>
        <td>Year Resale Value</td>
        <td>{{result.__year_resale_value}}</td>
    </tr>
    <tr>
        <td>Vehicle Type</td>
        <td>{{result.Vehicle_type}}</td>
    </tr>
    <tr>
        <td>Price in thousands</td>
        <td>{{result.Price_in_thousands}}</td>
    </tr>
    <tr>
        <td>Engine Size</td>
        <td>{{result.Engine_size}}</td>
    </tr>
    <tr>
        <td>Horsepower</td>
        <td>{{result.Horsepower}}</td>
    </tr>
    <tr>
        <td>Wheelbase</td>
        <td>{{result.Wheelbase}}</td>
    </tr>
    <tr>
        <td>Width</td>
        <td>{{result.Width}}</td>
    </tr>
    <tr>
        <td>Length</td>
        <td>{{result.Length}}</td>
    </tr>
    <tr>
        <td>Curb Weight</td>
        <td>{{result.Curb_weight}}</td>
    </tr>
    <tr>
        <td>Fuel Capacity</td>
        <td>{{result.Fuel_capacity}}</td>
    </tr>
    <tr>
        <td>Fuel Efficiency</td>
        <td>{{result.Fuel_efficiency}}</td>
    </tr>
    <tr>
        <td>Latest Launch</td>
        <td>{{result.Latest_Launch}}</td>
    </tr>
    <tr>
        <td>Power Performance Factor</td>
        <td>{{result.Power_perf_factor}}</td>
    </tr>
</table>